In [1]:
# import prices from csv file
import pandas as pd
prices = pd.read_csv("data/price.csv", index_col=0, header=0, parse_dates=True)

In [3]:
# connect with MongoDB (here using a mock database)
from mongoengine import *
connect(db="test", host='mongomock://localhost', alias='default')

mongomock.MongoClient('localhost', 27017)

In [10]:
from pyutil.mongo.engine.symbol import Symbol, Group

# Here you can go wild and point to an existing MongoDB Server. I use an inmemory-solution here...
g = Group(name="US Stock")
g.save()

In [11]:
for key, data in prices.items():
    symbol = Symbol(name=key, group=g, internal=key)
    # upsert the prices
    symbol.price = data.dropna()
    symbol.save()

In [13]:
for symbol in Symbol.objects:
    print(symbol.name)
    print(symbol.group.name)
    print(symbol.internal)

A
US Stock
A
B
US Stock
B
C
US Stock
C
D
US Stock
D
E
US Stock
E
F
US Stock
F
G
US Stock
G

In [20]:
s1 = Symbol.objects(name="A").get()
print(s1.name)
print(s1.group.name)
s1.reference["AA"] = 20.0
s1.reference["BB"] = 30.0
s1.save()

s2 = Symbol.objects(name="C").get()
print(s2.name)
print(s2.group.name)
s2.reference["BB"] = 40.0
s2.reference["CC"] = 30.0
s2.save()

Symbol.reference_frame(products=[s1,s2], f=lambda x: x.name)

A
US Stock
C
US Stock

          AA    BB    CC    Sector Internal
symbol
A       20.0  30.0   NaN  US Stock        A
C        NaN  40.0  30.0  US Stock        C

In [22]:
Symbol.pandas_frame(key="price", products=[s1,s2], f=lambda x: x.name)

symbol            A         C
2013-01-01  1673.78  62550.10
2013-01-02  1686.90  62550.10
2013-01-03  1663.95  63312.46
2013-01-04  1655.65  62523.06
2013-01-07  1646.95  61932.54
2013-01-08  1659.25  61127.84
2013-01-09  1657.75  61578.58
2013-01-10  1675.45  61678.31
2013-01-11  1662.80  61497.43
2013-01-14  1667.85  62080.79
2013-01-15  1679.45  61727.61
2013-01-16  1679.95  61787.35
2013-01-17  1687.55  62194.06
2013-01-18  1684.30  61956.14
2013-01-21  1690.05  61899.71
2013-01-22  1692.70  61692.29
2013-01-23  1685.85  61966.26
2013-01-24  1667.95  61169.83
2013-01-25  1658.70       NaN
2013-01-28  1655.50  60027.07
2013-01-29  1663.80  60406.33
2013-01-30  1677.05  59336.70
2013-01-31  1663.65  59761.49
2013-02-01  1667.45  60351.16
2013-02-04  1673.70  59575.66
2013-02-05  1672.95  59444.97
2013-02-06  1677.70  58951.07
2013-02-07  1671.65  58372.46
2013-02-08  1667.20  58497.83
2013-02-11  1647.95       NaN
...             ...       ...
2015-03-12  1153.68  48880.40
2015-03-13  1158.55  48595.81
2015-03-16  1154.86  48848.21
2015-03-17  1149.55  50285.12
2015-03-18  1167.58  51526.19
2015-03-19  1171.11  50953.53
2015-03-20  1182.63  51966.58
2015-03-23  1189.51  51908.46
2015-03-24  1193.33  51506.07
2015-03-25  1195.43  51858.30
2015-03-26  1204.83  50579.85
2015-03-27  1198.75  50094.66
2015-03-30  1186.07  51243.45
2015-03-31  1183.68  51150.16
2015-04-01  1203.90  52321.76
2015-04-02  1202.60  53123.02
2015-04-03  1202.87       NaN
2015-04-06  1214.85  53737.26
2015-04-07  1209.20  53729.16
2015-04-08  1202.51  53661.11
2015-04-09  1194.72  53802.66
2015-04-10  1207.57  54214.11
2015-04-13  1198.89  54239.77
2015-04-14  1192.76  53981.92
2015-04-15  1202.59  54918.74
2015-04-16  1198.56  54674.21
2015-04-17  1204.27  53954.79
2015-04-20  1195.88  53761.27
2015-04-21  1202.34       NaN
2015-04-22  1200.59       NaN

[602 rows x 2 columns]